@model Product

<style>
    .tick {
        display: none;
    }

    .color-item.selected .tick {
        display: flex;
    }
</style>

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="bread"><span><a asp-action="Index">Trang chủ</a></span> / <span>Chi tiết sản phẩm</span></p>
            </div>
        </div>
    </div>
</div>

<div class="colorlib-product">
    <div class="container">
        <div class="row row-pb-lg product-detail-wrap">
            <div class="col-sm-8">
                <div class="product-entry border">
                    <a href="#" class="prod-img">
                        <img src="/@Model.HinhAnhDaiDien" class="img-fluid" id="img" alt="@Model.TenSanPham">
                    </a>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="product-desc">
                    <h3>@Model.TenSanPham</h3>
                    <p class="price">
                        <span>@Model.GiaCoBan.ToString("N0")</span>
                    </p>
                    <p>@Model.MoTa</p>

                    <div class="size-wrap">
                        <div class="block-26 mb-2">
                            <h4>Loại Giày</h4>
                            <p>@Model.LoaiGiay</p>
                        </div>
                        <div class="block-26 mb-4">
                            <h4>Thương Hiệu</h4>
                            <p>@Model.ThuongHieu</p>
                        </div>
                    </div>

                    <div class="input-group mb-4">
                        <span class="input-group-btn">
                            <button id="giamSL" type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
                                <i class="icon-minus2"></i>
                            </button>
                        </span>
                        <input id="soLuong" type="text" name="quantity" class="form-control input-number" value="1" min="1" max="100">
                        <span class="input-group-btn ml-1">
                            <button id="tangSL" type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                                <i class="icon-plus2"></i>
                            </button>
                        </span>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <p class="addtocart">
                                <a href="cart.html" class="btn btn-primary btn-addtocart">
                                    <i class="icon-shopping-cart"></i> Thêm vào giỏ
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-12 pills">
                        <div class="bd-example bd-example-tabs">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Mô tả</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-manufacturer-tab" data-toggle="pill" href="#pills-manufacturer" role="tab" aria-controls="pills-manufacturer" aria-expanded="true">Nhà sản xuất</a>
                                </li>
                            </ul>

                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane border fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                                    <p>@Model.MoTa</p>
                                </div>

                                <div class="tab-pane border fade" id="pills-manufacturer" role="tabpanel" aria-labelledby="pills-manufacturer-tab">
                                    <p>@Model.ThuongHieu</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let soLuong = document.getElementById("soLuong");
    soLuong.addEventListener("blur", function () {
        let value = parseInt(this.value);
        if (isNaN(value) || value < 1) {
            this.value = 1;
        }
    });

    document.getElementById("tangSL").addEventListener("click", function () {
        soLuong.value++;
    });

    document.getElementById("giamSL").addEventListener("click", function () {
        if (soLuong.value > 1) {
            soLuong.value--;
        }
    });
</script>
